.contents
  .top_bar
    .top_bar__left
      %h3.top_bar__left--store_name YAMAMOTO Motors
      %p.top_bar__left--store_address 東京都渋谷区道玄坂２丁目２３−１２
      %p.top_bar__left--phone 03-3333-3333
      %p.top_bar__left--sales_name 担当： 山本 俊介

    .top_bar__right
      .user_cars
        .user_car
        .user_car
        .user_car
        

  .main_contents