

.form_distance{
  margin-bottom: 20px;
}

.form_inspection_date{
  padding-left: 65px;
}

.inspection_date{
  position: relative;
  display: flex;
  &--label{
    width: 100%;
    .inspection_title{
      display: inline;
      position: absolute;
      color: rgba(255,255,255,0.4);
      top: 23px;
      left: 8px;
      cursor: default;
    }
  }
}

.file_upload{
  display: none;
}

.image_display{
  width: 200px;
  height: 150px;
  border: 1px solid white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  .fas{
    font-size: 100px;
    color: white;
  }
}




